.home-page {
    .notify {
        display: flex;
        flex-direction: column;
        align-items: center;

        .notify-success {
            width: 93%;
        }

        .notify-error {
            width: 93%;
        }
    }

    .form {
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;

            label {
                font-size: 20px;
                color: #000;
                margin-bottom: 10px;
                width: 93%;
                text-align: left;
            }

            .contact {
                color: #9a9a9a;
            }

            input {
                width: 93%;
                height: 50px;
                padding: 0 20px;
                font-size: 20px;
                border: 1px solid #e1e1e1;
                border-radius: 5px;
                outline: none;

                &:focus {
                    border: 2px solid #313131;
                }
            }

            .input-error {
                border: 1px solid #F70500;
            }

            .text-error {
                width: 93%;
                color: #F70500;
                font-size: 20px;
                margin-top: 5px;
            }
        }

        .submit {
            display: flex;
            justify-content: center;
            margin: 20px 0 50px 0;
        }
    }
}

